<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/X_Reasons_to_learn_Javascript.jpg"
                        alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$10.99</h2>
                    <p class="product__description">A very interesting JavaScript book!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">ADD TO CART</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('includes/footer.ejs') %>